body{
  background-color: rgb(224, 147, 2);
  color: navy;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
button {
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 0.6rem;
  font-size: 0.75rem;
}
input{
  font-size: 1.5rem;
  border-radius: 0.5rem;
  height: 100%;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
}
h1{
  font-size: 3rem;
}
div{
  margin: 1rem;
}
.uv-alert{
  border: 2px;
  padding: 1rem;
  border-radius: 1.5rem;
  color: black;
  background-color: rgb(255, 252, 55);
  margin-top: 2rem;
  border-style: solid;
}